body {
  background-color: skyblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-container {
  background-color: aliceblue;
  border-radius: 6px;
  max-width: 30rem;
  width: 75%;
  margin: 1.5rem auto;
  padding: 2rem 3rem;
}

.form-container form h2 {
  margin: 0 0 1rem 0;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

label {
  margin: 1rem 0 0.2rem 0;
  color: rgb(53, 53, 53);
}

input,
textarea {
  padding: 0.5rem;
  width: 75%;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid rgb(114, 114, 114);
}

button {
  font-weight: bolder;
  font-size: 1.2rem;
  width: fit-content;
  border: none;
  background-color: rgb(6, 187, 6);
  color: aliceblue;
  border-radius: 3px;
  padding: 0.7rem 1rem;
  margin: 1rem auto;
}

button:hover {
  background-color: rgb(3, 161, 3);
}
