body {
  background-color: rgb(223, 140, 223);
}

p {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 0;
}

#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 5rem 0;
}

.rotate {
  transform: rotate(180deg);
}

.red {
  color: red;
}

/* 


card details 


*/

.card {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  height: 20rem;
  background-color: white;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem black;
}

.left,
.right,
.middle {
  display: flex;
  flex-direction: column;
}
.left > *,
.right > *,
.middle > * {
  margin: 0;
}

.left,
.right {
  align-items: center;
}

.left {
  align-self: flex-start;
}

.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 5rem;
}

.right {
  align-self: flex-end;
  transform: rotate(180deg);
}

/*


 middle detail  


 */

.two-layers {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.two-layers > * {
  font-size: inherit;
}

/* 

hover

*/

.card:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
