#email {
  padding: 50px;
  width: 500px;
  border: 2px solid black;
  margin-top: 50px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 7px #444343;
}

#confidential,
#top-secret {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  color: red;
  border: 3px solid red;
  padding: 0.4rem;
}

#confidential {
  margin-left: 6rem;
  transform: rotate(-20deg);
}

#top-secret {
  margin-left: 15rem;
  transform: rotate(10deg);
}

.blurred {
  filter: blur(3px);
}
