html {
  font-size: 24px;
}

body {
  background-color: rgb(221, 248, 239);
}

.newspaper {
  margin: 5rem auto;
  width: 75%;
  min-width: 20rem;
  padding: 3rem 1rem;
  font-size: 16px;
  box-shadow: 0 -3px 8px rgb(138, 138, 138);
  background-color: white;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0;
  font-size: 2rem;
  font-family: "Times New Roman", serif;
}

.date {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.headline {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
}

.author {
  font-weight: bold;
}

.text {
  text-indent: 20px;
  line-height: 2em;
}

/* 

special 

*/

.name,
.date {
  align-self: center;
}

.name,
.author {
  text-transform: uppercase;
}

.text::first-letter {
  font-weight: bold;
  font-size: 2em;
}
