body {
  background-color: rosybrown;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 5px;
}

a {
  text-decoration: none;
}

.business-card {
  width: 300px;
  padding: 20px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  text-align: center;
  border: 1px solid white;
}

.profile-image {
  max-width: 100%;
}
