/* normalize */

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

/* 

main 


*/
.newspaper-layout {
  display: grid;
  width: 80%;
  gap: 1rem;
  margin: 1rem auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    "feature-article feature-article cover-image"
    "secondary-article secondary-article cover-image"
    "small-article1 small-article2 small-article3";
  place-items: stretch;
}

.title {
  padding: 1rem 0;
  border-radius: 5px;
  color: white;
  grid-area: title;
  background-color: #1a1a32;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 

feature & second article  

*/

.feature-article {
  grid-area: feature-article;
}

.secondary-article {
  grid-area: secondary-article;
}

.feature-article,
.secondary-article {
  padding: 1rem;
  text-align: justify;
}

.feature-article p,
.secondary-article p {
  margin: 1rem 2rem 0 0.5rem;
}

/* 


image 


*/

.cover-image {
  grid-area: cover-image;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cover-image img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* 

small article  

*/

.small-article1,
.small-article2,
.small-article3 {
  padding: 2rem 1rem;
  text-align: justify;
}

h3 {
  margin-bottom: 1rem;
}

.small-article1 {
  grid-area: small-article1;
}

.small-article2 {
  grid-area: small-article2;
}

.small-article3 {
  grid-area: small-article3;
}

/* 

special styles  

*/

.cover-image,
.small-article1,
.small-article2,
.small-article3 {
  background-color: #dcdddc;
  border-radius: 5px;
}
