body {
  text-align: center;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  max-width: 50rem;
  margin: 0 auto;
  justify-content: space-around;
  gap: 2rem;
}

/* 

pricing card 

*/
.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  flex: 0 0 200px;
  border-radius: 6px;
}

.pricing-card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.pricing-card > * {
  margin: 0;
}

.pricing-card h2 {
  margin: 1rem 0 0.5rem 0;
}

.pricing-card .price {
  font-size: 1.5rem;
  width: fit-content;
  padding: 0 1rem;
  font-weight: 600;
  color: gray;
  border-bottom: 1px solid gray;
  margin-bottom: 2.5rem;
}

.pricing-card .btn-plan {
  background-color: rgb(255, 181, 45);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.2rem 2rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

/*

desc  

*/
.pricing-card .desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.pricing-card .desc p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.correct::before {
  content: "✓";
  font-weight: 600;
  color: green;
  margin-right: 0.2rem;
}

.wrong::before {
  content: "✗";
  font-weight: 600;
  color: red;
  margin-right: 0.2rem;
}

/* ordering  */
.basic-plan {
  order: 0;
}
.pro-plan {
  order: 1;
  flex-grow: 2;
}

.premium-plan {
  order: 2;
}
