body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #f2f5f8;
}

#house {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #f6e2b3;
  border: 4px solid #3a2d1f;
  box-sizing: border-box;
}

#house > div {
  position: absolute;
  box-sizing: border-box;
}

#roof {
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: #b44a3a;
  border: 4px solid #3a2d1f;
}

#chimney {
  top: -140px;
  left: 70px;
  width: 70px;
  height: 140px;
  background-color: #7a4b3a;
  border: 4px solid #3a2d1f;
  z-index: -1;
}

#window-1,
#window-2 {
  width: 90px;
  height: 80px;
  background-color: #9ed7ff;
  border: 4px solid #3a2d1f;
  top: 140px;
}

#window-1 {
  left: 90px;
}

#window-2 {
  right: 90px;
}

#door {
  width: 120px;
  height: 140px;
  background-color: #6b3f2a;
  border: 4px solid #3a2d1f;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
