body {
  padding: 50px 0;
  margin: 0 auto;
  width: 100vw;
  min-height: calc(100vh - 100px);
}

header,
main {
  width: 80%;
  max-width: 50rem;
  margin: 0 auto;
}

header {
  text-align: center;
}

img {
  width: 30rem;
}

hr {
  width: 80%;
  border: 1px solid black;
}

main {
  padding: 0px 3rem;
}

section {
  margin: 0 auto;
  width: 80%;
}

section p {
  text-align: justify;
}
